<div class="container mt-5">
  <div class="alert alert-warning">
    <div class="text-center display-3"><span> Cuidado </span><i class="fas fa-exclamation-triangle"></i></div>
    <hr>
    <div class="text-center h5">
      Diseñadores según trabajando.
    </div>
    <br>
    <div class="text-center col-12">
      <img
        src="https://1.bp.blogspot.com/-Y9Ewdwv2gnI/Xgk4EpLy2SI/AAAAAAAABKA/1zP_I9_GIr01BDLQ-Y-Dr2Ky06RsejBuwCEwYBhgL/s320/ElementaryExcitableHeron-small.gif"
        class="img-fluid" alt="Construccion">
    </div>

  </div>


</div>
